<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}<title>Main page</title>{% endblock title %}
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}
</head>
<body>
<div class="container-xxl">
    <div>
        <h2 style="text-align: center">Заказы</h2>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>GOSZAKUPKI  Количество предложений :<i style="font-size: 1.2em; color: #db0a10">
                    {{ total_today_gos }}</i></th>
            </tr>
        </table>
        <table>
            <th>Наименование</th>
            <th>Дата окончания</th>
            <th>Сумма заказа</th>
            <th>Ссылка на заказ</th>
            {% for obj in orders_gos %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.deadline }}</td>
                    <td style="width: 140px">{{ obj.price }}</td>
                    <td style="width: 90px"><a href="{{ obj.link }}" target="_blank">к просмотру</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th> ICETRADE  Количество предложений : <i style="font-size: 1.2em; color:
                #db0a10">{{ total_today_ice }}</i></th>
            </tr>
        </table>
        <table>
            <th>Наименование</th>
            <th>Дата окончания</th>
            <th>Сумма заказа</th>
            <th>Ссылка на заказ</th>
            {% for obj in orders_ice %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.deadline }}</td>
                    <td style="width: 140px">{{ obj.price }}</td>
                    <td style="width: 90px"><a href="{{ obj.link }}" target="_blank">к просмотру</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>