<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}<title>Main page</title>{% endblock title %}
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}
</head>
<body>
<div id="timer">
    <span id="minutes">00</span>:<span id="seconds">00</span>
</div>
<div class="container-xxl">
    <p></p>
    <div><h1 style="font-size: 1.3em; text-align: center;
">До следующего обновления позиций</h1></div>
    <div style="font-size: 1.3em; text-align: center;">
        <form action="{% url 'index' %}">
            <label>Цена</label>
            {{ form.min_price }}
            {{ form.max_price }}
            <button class="btn btn-success" type="submit">Отфильтровать</button>
        </form>
    </div>
    <p></p>
    <div class="table-container">
        <table>
            <tr>
                <th>GOSZAKUPKI Количество предложений :<i style="font-size: 1.2em; color: #db0a10">
                    {{ total_today_gos }}</i></th>
            </tr>
        </table>
        <table>
            <th>Наименование</th>
            <th>Дата окончания</th>
            <th>Сумма заказа</th>
            <th>Ссылка на заказ</th>
            {% for obj in orders_gos %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.deadline }}</td>
                    <td style="width: 140px">{{ obj.price}}
                        {{ obj.abbreviation }}</td>
                    <td style="width: 90px"><a href="{{ obj.link }}" target="_blank">к просмотру</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th> ICETRADE Количество предложений : <i style="font-size: 1.2em; color:
                #db0a10">{{ total_today_ice }}</i></th>
            </tr>
        </table>
        <table>
            <th>Наименование</th>
            <th>Дата окончания</th>
            <th>Сумма заказа</th>
            <th>Ссылка на заказ</th>
            {% for obj in orders_ice %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.deadline }}</td>
                    <td style="width: 140px">{{ obj.price }} {{ obj.abbreviation }}</td>
                    <td style="width: 90px"><a href="{{ obj.link }}" target="_blank">к просмотру</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
    function startTimer(duration, display) {
        let timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.querySelector('#minutes').textContent = minutes;
            display.querySelector('#seconds').textContent = seconds;

            if (--timer < 0) {
                timer = duration;
                location.reload();
            }
        }, 1000);
    }

    window.onload = function () {
        const Minutes = 60 * 50,
            display = document.querySelector('#timer');
        startTimer(Minutes, display);
    };
</script>
</body>
</html>